.Wrapper {
  max-width: 1280px;
  overflow-x: scroll;
  margin: 0 auto;
  padding: 0 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  white-space: nowrap;
  font-size: 14px;
}

th {
  background-color: #282c34;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
